* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 1px solid;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 25% 75%;
  width: 400px;
  height: 550px;
  background-color: #2c394b;
}
#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #16202e;
  color: #fff;
  border-radius: 20px;
  font-size: 2.7em;
  font-weight: 900;
  margin: 5% auto;
  padding: 10px;
  width: 350px;
  height: 100px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 5% 5%;
}
button {
  border: none;
  border-radius: 12px;
  font-size: 1.7em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.clear {
  color: red;
}
.operator {
  background-color: #ff8c00;
}
.equals {
  background-color: #32cd32;
  grid-row: span 2;
}
.zero {
  grid-column: span 2;
}
